<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alappuzha</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/alappuzha.css">

</head>

<body>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#destination">Destination</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>




        <!-- hero -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>ALAPPUZHA</h1>
            </div>
        </section>
        <!-- hero ends -->





        <section id="places" class="about pt-5 ">
            <div class="container mt-5">

                <div class="section-title pb-5">

                    <h1 class="heading ">TOP TOURIST PLACES</h1>
                </div>
                <div class="row ">
                    <h4>Alappuzha Beach</h4>
                    <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Alappuzha Beach, also known as Alleppey Beach, is a picturesque coastal stretch
                                    situated along the Arabian Sea in the southern Indian state of Kerala. Famous for
                                    its golden sands, gentle waves, and a charming lighthouse, the beach is a popular
                                    destination that attracts both locals and tourists alike. The 150-year-old Alappuzha
                                    Lighthouse stands tall at the beach, offering panoramic views of the Arabian Sea and
                                    the surrounding town.
                                </p>

                                <p>In addition to its natural beauty, Alappuzha Beach is known for hosting various
                                    cultural events and festivals, making it a vibrant hub for local festivities. The
                                    beach provides a tranquil setting for leisurely strolls, beach volleyball, and other
                                    recreational activities. The presence of traditional Kerala houseboats and the
                                    historic pier adds to the coastal charm, making Alappuzha Beach a multifaceted
                                    destination where visitors can appreciate the natural beauty, engage in cultural
                                    experiences, and unwind along the serene coastline of Kerala.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/alappuzhabeach.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>




                <div class="row pt-5">
                    <h4>Alappuzha Light House</h4>
                    <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/alappuxha-lighthouse.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>The Alappuzha Lighthouse, standing proudly on the Alappuzha Beach in the southern
                                    Indian state of Kerala, is a historic landmark that adds to the coastal allure of
                                    the region. Built in 1862, this 30-meter tall lighthouse offers not only a striking
                                    architectural presence but also panoramic views of the Arabian Sea and the
                                    surrounding landscape. Its red and white striped exterior, typical of traditional
                                    lighthouse aesthetics, makes it an iconic structure against the backdrop of the
                                    golden sands and blue waters.
                                </p>
                                <p>The Alappuzha Lighthouse, standing proudly on the Alappuzha Beach in the southern
                                    Indian state of Kerala, is a historic landmark that adds to the coastal allure of
                                    the region. Built in 1862, this 30-meter tall lighthouse offers not only a striking
                                    architectural presence but also panoramic views of the Arabian Sea and the
                                    surrounding landscape. Its red and white striped exterior, typical of traditional
                                    lighthouse aesthetics, makes it an iconic structure against the backdrop of the
                                    golden sands and blue waters.

                                </p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="row pt-5 ">
                    <h4>Marari Beach</h4>
                    <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p> Marari Beach is a pristine and tranquil coastal haven renowned for its serene beauty
                                    and laid-back atmosphere. Stretching along the Arabian Sea, Marari offers visitors a
                                    respite from the hustle and bustle of city life with its soft golden sands, swaying
                                    coconut palms, and the soothing rhythm of the waves. Unlike some of the more crowded
                                    beaches in the region, Marari retains a peaceful and uncrowded charm, making it an
                                    ideal retreat for those seeking relaxation and rejuvenation.
                                </p>

                                <p>The beach is named after the quaint fishing village of Mararikulam, where the local
                                    way of life blends seamlessly with the natural beauty of the surroundings. Marari
                                    Beach is dotted with traditional fishing boats, and visitors can witness the daily
                                    routines of the local fishermen, adding an authentic touch to the experience. The
                                    area offers a range of activities, from beachside yoga sessions and Ayurvedic spa
                                    treatments to exploring the nearby backwaters on houseboats. Whether it's unwinding
                                    in the hammocks under the swaying palms, taking leisurely walks along the shore, or
                                    enjoying the fresh catch of the day at local eateries, Marari Beach promises a
                                    tranquil and immersive coastal experience in the heart of God's Own Country.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/marari beach.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>



                <div class="row pt-5">
                    <h4>Punnamada Lake</h4>
                    <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/punnamada lake.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>Punnamada Lake is a breathtaking expanse
                                    of backwaters renowned for its serene beauty and cultural significance. The lake is
                                    a vital part of the intricate network of waterways that make up the famous Kerala
                                    backwaters. Known for hosting the annual Nehru Trophy Boat Race, Punnamada Lake
                                    attracts visitors from around the world who gather to witness the exhilarating snake
                                    boat races that showcase the traditional prowess and competitive spirit of the local
                                    communities.</p>
                                <p>The tranquil waters of Punnamada Lake are surrounded by lush green landscapes,
                                    coconut groves, and picturesque villages, creating a mesmerizing backdrop for
                                    houseboat cruises. Travelers can embark on a leisurely journey through the
                                    backwaters, allowing them to experience the unique lifestyle of the region while
                                    enjoying the peaceful ambiance. The lake is not only a visual delight but also plays
                                    a crucial role in the local economy, supporting traditional activities like fishing
                                    and coir manufacturing. Punnamada Lake stands as a symbol of Kerala's backwater
                                    charm, offering a perfect blend of natural beauty, cultural vibrancy, and immersive
                                    experiences for those exploring the enchanting landscapes of the region.
                                </p>


                            </div>
                        </div>
                    </div>
                </div </div>
        </section>

        <section class="footer pt-5">
            <!-- Footer -->
            <footer class="text-center text-light bg-dark">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2023 Copyright:
                    <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    </body>

</html>