<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eranakulam</title>
    <link rel="icon" type="image/png" href="../assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/eranakulam.css">

</head>

<body>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#districts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Districts
                            </a>
                            <ul class="dropdown-menu">
                              <li ><a class="dropdown-item" href="kasaragod.html">Kasaragod</a></li>
                              <li><a class="dropdown-item " href="kannur.html">Kannur</a></li>
                              <li><a class="dropdown-item " href="wayanad.html">Wayanad</a></li>
                              <li><a class="dropdown-item" href="kozhikode.html">Kozhikode</a></li>
                              <li><a class="dropdown-item " href="malappuram.html">Malappuram</a></li>
                              <li><a class="dropdown-item" href="palakkad.html">Palakkad</a></li>
                              <li><a class="dropdown-item" href="thrissur.html">Thrissur</a></li>
                              <li><a class="dropdown-item active" href="eranakulam.html">Eranakulam</a></li>
                              <li><a class="dropdown-item" href="idukki.html">Idukki</a></li>
                              <li><a class="dropdown-item" href="kottayam.html">Kottayam</a></li>
                              <li><a class="dropdown-item" href="alappuzha.html">Alappuzha</a></li>
                              <li><a class="dropdown-item" href="pathanamthitta.html">Pathanamthitta</a></li>
                              <li><a class="dropdown-item" href="kollam.html">Kollam</a></li>
                              <li><a class="dropdown-item" href="thiruvananthapuram.html">Thiruvananthapuram</a></li>
                            </ul>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>




        <!-- hero -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>ERANAKULAM</h1>
            </div>
        </section>
        <!-- hero ends -->





        <section id="places" class="about pt-5 ">
            <div class="container mt-5">

                <div class="section-title pb-5">

                    <h1 class="heading ">TOP DESTINATIONS</h1>
                </div>
                <div class="row ">
                    <h4>Thattekad Bird Sanctuary</h4>
                    <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Thattekad Bird Sanctuary, situated in the Ernakulam district of Kerala, India, is a
                                    haven for birdwatchers and nature enthusiasts. Spanning over 25 square kilometers,
                                    this sanctuary is renowned for its rich avian biodiversity, making it a paradise for
                                    bird lovers. Dr. Salim Ali, the renowned Indian ornithologist, once referred to
                                    Thattekad as the "richest bird habitat on peninsular India".</p>

                                <p>The sanctuary is predominantly covered with evergreen and deciduous forests and is
                                    crisscrossed by several streams and rivers, creating a diverse ecosystem. It is home
                                    to over 300 species of birds, including endemics like the Malabar Grey Hornbill and
                                    the Sri Lanka Frogmouth. The dense foliage and the Periyar River flowing through the
                                    sanctuary add to its scenic beauty. Visitors can explore the numerous trails within
                                    the sanctuary to catch glimpses of various bird species, making Thattekad a popular
                                    destination for ecotourism and birding in the Western Ghats.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/thattekkad.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>




                <div class="row pt-5">
                    <h4>Cherai Beach</h4>
                    <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/cherai.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p> Cherai Beach is a gem along the
                                    Arabian Sea renowned for its idyllic beauty. The beach's pristine shoreline, adorned
                                    with soft white sand and bordered by the gentle waves of the Arabian Sea, creates a
                                    serene and inviting atmosphere. Tourists flock to Cherai to bask in the sun, take
                                    refreshing swims in the clear waters, and marvel at the scenic charm that
                                    encompasses the coastline. The beach's tranquil ambiance, complemented by the
                                    backdrop of coconut groves and lush greenery, makes it a perfect destination for
                                    those seeking a peaceful escape along the captivating shores of Kerala.
                                </p>
                                <p>Cherai Beach is not only a haven for relaxation but also offers an array of
                                    activities, including water sports like speedboating and water scooters. The unique
                                    feature of the beach, where the backwaters merge with the sea, adds to its allure.
                                    With its natural beauty, recreational opportunities, and the harmonious blend of
                                    backwaters and sea, Cherai Beach stands as a must-visit destination for those
                                    exploring the coastal wonders of Kerala.</p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="row pt-5 ">
                    <h4>Marine Drive</h4>
                    <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Marine Drive in Kochi, Kerala, is a captivating waterfront promenade that captivates
                                    visitors with its scenic beauty and vibrant ambiance. Stretching along the shores of
                                    the Arabian Sea, this iconic destination offers a panoramic view of the backwaters,
                                    creating a perfect setting for both relaxation and social activities. The
                                    well-designed walkways, adorned with greenery and seating areas, invite locals and
                                    tourists to enjoy leisurely strolls, take in the fresh sea breeze, and witness the
                                    enchanting sunset that paints the sky over the Arabian Sea in hues of orange and
                                    pink. The bustling activity along Marine Drive, with its mix of shops, eateries, and
                                    recreational spaces, makes it a lively hub where people gather to socialize, shop
                                    for local crafts, or simply enjoy the vibrant atmosphere.
                                </p>

                                <p>Moreover, the presence of traditional Chinese fishing nets along the promenade adds a
                                    touch of cultural charm, providing a glimpse into the region's rich maritime
                                    heritage. Boating options further enhance the experience, allowing visitors to
                                    explore the backwaters and enjoy Kochi's scenic beauty from a different perspective.
                                    Whether for a quiet evening by the sea, a casual stroll, or engaging in the vibrant
                                    local scene, Marine Drive stands as a quintessential destination that showcases the
                                    coastal allure and cultural richness of Kochi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/Marine-Drive.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>



                <div class="row pt-5">
                    <h4>Fort Kochi</h4>
                    <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/fort-kochi.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>Fort Kochi, situated in the historic city of Kochi, Kerala, is a charming and
                                    culturally rich neighborhood that reflects the region's colonial past. The area is
                                    renowned for its well-preserved colonial architecture, narrow streets, and a unique
                                    blend of Indian, Portuguese, Dutch, and British influences. One of the highlights of
                                    Fort Kochi is the St. Francis Church, believed to be the oldest European-built
                                    church in India, where explorer Vasco da Gama was initially buried before his
                                    remains were later transferred to Lisbon. The iconic Chinese fishing nets, dotting
                                    the coastline, are another signature feature of Fort Kochi, offering a picturesque
                                    and timeless glimpse into traditional fishing practices.</p>
                                <p>The vibrant streets of Fort Kochi are lined with art galleries, antique shops, and
                                    cafes, creating a bohemian atmosphere that attracts artists, historians, and
                                    tourists alike. The neighborhood hosts the Kochi-Muziris Biennale, a contemporary
                                    art festival, adding a modern touch to its historical charm. As visitors wander
                                    through the streets, they encounter colonial-era buildings, vibrant street art, and
                                    a unique fusion of cultures that make Fort Kochi a captivating destination for those
                                    seeking a blend of history, art, and cultural diversity.</p>


                            </div>
                        </div>
                    </div>
                </div </div>
        </section>

        <section class="footer pt-5">
            <!-- Footer -->
            <footer class="text-center text-light bg-dark">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2023 Copyright:
                    <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>

</html>