<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kannur</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../assets/css/kannur.css">

</head>

<body>


  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-lg-auto ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#districts">Districts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#contact">Contact</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>




    <!-- hero -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
      <div class="hero-container" data-aos="fade-in">
        <h1>KANNUR</h1>
      </div>
    </section>
    <!-- hero ends -->





    <section id="places" class="about pt-5 ">
      <div class="container mt-5">

        <div class="section-title pb-5">

          <h1 class="heading ">TOP DESTINATIONS</h1>
        </div>
        <div class="row ">
          <h4> St.Angelo Fort</h4>
          <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

            <div class="row ">
              <div class="col-lg-12">

                <p>St. Angelo Fort, located in Kannur, Kerala, India, stands as a symbol of the region's rich historical
                  past and maritime significance. Constructed by the Portuguese in 1505, the fort was initially named
                  Fortaleza de São Ângelo, serving as a key strategic outpost for the Portuguese colonial empire. Over
                  the centuries, the fort underwent several changes of ownership, with the Dutch capturing it in the
                  17th century before it eventually fell into the hands of the British in the 18th century.</p>

                <p>The fort's architecture reflects a blend of European, Indian, and Islamic influences, showcasing its
                  historical evolution and the cultural interactions in the region. Its location along the Arabian Sea
                  offers stunning views of the coastline, making it a popular tourist destination. Today, St. Angelo
                  Fort stands as a well-preserved historical monument, providing visitors with a glimpse into the bygone
                  era of maritime trade, colonial rivalry, and cultural amalgamation in the coastal regions of Kerala.
                  As the fort celebrates its rich history, it continues to attract tourists and history enthusiasts
                  alike, contributing to Kannur's cultural heritage.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
            data-aos="fade-right">
            <img src="../assets/img/angelofort.jpg" alt="" width="auto" class=" img-fluid">
          </div>
        </div>




        <div class="row pt-5">
          <h4>Muzhappilangad Beach</h4>
          <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
            data-aos="fade-right">

            <img src="../assets/img/muzhappilangad beach.jpg" alt="" width="auto" class="img-fluid">
          </div>

          <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

            <div class="row">
              <div class="col-lg-12">
                <p>Muzhappilangad Beach, situated along the Malabar Coast in the state of Kerala, India, is renowned for
                  being the longest drive-in beach in Asia. Stretching for about 4.5 kilometers, the beach offers a
                  unique experience, allowing visitors to drive their vehicles directly on the firm sands of the shore.
                  The gently sloping beach and firm terrain make it ideal for this distinctive activity, attracting both
                  locals and tourists seeking a thrilling and scenic drive along the Arabian Sea. The beach is also
                  known for its serene ambiance, with coconut groves lining the shoreline and the rhythmic sound of
                  waves providing a calming backdrop.</p>
                <p>Apart from its driving allure, Muzhappilangad Beach is a popular destination for various water sports
                  and recreational activities. Adventure enthusiasts can indulge in activities like parasailing,
                  jet-skiing, and beach volleyball. The beach's natural beauty, combined with its unique features and
                  recreational opportunities, has established Muzhappilangad as a must-visit destination for those
                  looking to experience the best of Kerala's coastal attractions.</p>


              </div>
            </div>
          </div>
        </div>



        <div class="row pt-5 ">
          <h4> Arakkal Museum</h4>
          <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

            <div class="row ">
              <div class="col-lg-12">

                <p>The Arakkal Museum is a historical treasure trove that preserves the
                  heritage of the Arakkal family, the only Muslim royal family in Kerala. The museum is housed in the
                  Arakkal Kettu, a traditional Malabar-style building that was the residence of the Arakkal Ali Rajas.
                  The Arakkal dynasty, with its roots dating back to the 16th century, played a significant role in the
                  political and cultural landscape of the Malabar region.</p>

                <p>The museum offers visitors a glimpse into the opulent lifestyle and cultural contributions of the
                  Arakkal rulers. It displays a fascinating collection of artifacts, including royal furniture, weapons,
                  artifacts related to the maritime history of the region, and personal belongings of the royal family.
                  The exhibits provide insight into the social and political history of the Malabar Coast and the unique
                  position held by the Arakkal rulers. As a cultural repository, the Arakkal Museum stands as a
                  testament to the rich diversity of Kerala's history and serves as a valuable educational resource for
                  those interested in the region's royal heritage.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
            data-aos="fade-right">
            <img src="../assets/img/arakkal_museum.jpg" alt="" width="auto" class=" img-fluid">
          </div>
        </div>



        <div class="row pt-5">
          <h4>Paithalmala</h4>
          <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
            data-aos="fade-right">

            <img src="../assets/img/Paithalmala.jpg" alt="" width="auto" class="img-fluid">
          </div>

          <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

            <div class="row">
              <div class="col-lg-12">
                <p>
                  Paithalmala is a picturesque hill station that
                  captivates visitors with its lush greenery, rolling hills, and breathtaking landscapes. Nestled in the
                  Western Ghats at an elevation of about 4,500 feet above sea level, Paithalmala is renowned for its
                  enchanting trekking trails and panoramic views of the surrounding valleys and plains. The hill station
                  is a haven for nature lovers and adventure enthusiasts, offering a serene escape from the hustle and
                  bustle of city life.</p>
                <p>The trek to Paithalmala takes visitors through dense forests, tea plantations, and meandering paths
                  that lead to the summit. Once at the top, one can witness stunning vistas of the Western Ghats and the
                  Arabian Sea. The cool climate, coupled with the tranquility of the surroundings, makes Paithalmala an
                  ideal destination for those seeking a refreshing and rejuvenating experience. The hill station's
                  biodiversity, encompassing a variety of flora and fauna, adds to its ecological significance. Whether
                  it's trekking, bird-watching, or simply enjoying the serenity of nature, Paithalmala offers a
                  memorable retreat for those exploring the natural wonders of Kerala.</p>


              </div>
            </div>
          </div>
        </div </div>
    </section>

    <section class="footer pt-5">
      <!-- Footer -->
      <footer class="text-center text-light bg-dark">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2023 Copyright:
          <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>

</html>