<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kasaragod</title>
  <link rel="icon" type="image/png" href="../assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../assets/css/kasaragod.css">

</head>

<body>


  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-lg-auto mb-2 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#districts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Districts
              </a>
              <ul class="dropdown-menu">
                <li ><a class="dropdown-item active" href="kasaragod.html">Kasaragod</a></li>
                <li><a class="dropdown-item " href="kannur.html">Kannur</a></li>
                <li><a class="dropdown-item" href="wayanad.html">Wayanad</a></li>
                <li><a class="dropdown-item" href="kozhikode.html">Kozhikode</a></li>
                <li><a class="dropdown-item " href="malappuram.html">Malappuram</a></li>
                <li><a class="dropdown-item" href="palakkad.html">Palakkad</a></li>
                <li><a class="dropdown-item" href="thrissur.html">Thrissur</a></li>
                <li><a class="dropdown-item" href="eranakulam.html">Eranakulam</a></li>
                <li><a class="dropdown-item" href="idukki.html">Idukki</a></li>
                <li><a class="dropdown-item" href="kottayam.html">Kottayam</a></li>
                <li><a class="dropdown-item" href="alappuzha.html">Alappuzha</a></li>
                <li><a class="dropdown-item" href="pathanamthitta.html">Pathanamthitta</a></li>
                <li><a class="dropdown-item" href="kollam.html">Kollam</a></li>
                <li><a class="dropdown-item" href="thiruvananthapuram.html">Thiruvananthapuram</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html#contact">Contact</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>




    <!-- hero -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
      <div class="hero-container" data-aos="fade-in">
        <h1>KASARAGOD</h1>
      </div>
    </section>
    <!-- hero ends -->





    <section id="places" class="about pt-5 ">
      <div class="container mt-5">

        <div class="section-title pb-5">

          <h1 class="heading ">TOP DESTINATIONS</h1>
        </div>
        <div class="row ">
          <h4> Bekal Fort</h4>
          <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">
           
            <div class="row ">
              <div class="col-lg-12">

                <p>Around 16 km to the south of northernmost district in Kerala, Kasaragod, lies the massive Bekal Fort.
                  It is among the biggest forts in Kerala and has been impeccably maintained throughout the years. It
                  rises to 130 feet above sea level and is situated on a headland spanning 35km. Much effort has been
                  put to develop a beautiful beach here called the Bekal Fort Beach. People flock to these spots in
                  great numbers. Situated comfortably on steep hills by the sea, the fort provides for an imposing view
                  from the beach. Built using laterite slabs and with a polygonal shape, it is amongst the most visited
                  sites in Kerala.</p>

                <p>There are many factors that have added to the popularity of the site. An observation tower fitted
                  with beautiful peepholes, the Anjaneya Temple with its famous masonry and two Theyyam sculptures built
                  from laterite are among the primary attractions. An ancient mosque built by Tipu Sultan and various
                  underground passageways are also important places in the area. A rock garden was built using laterite
                  in the parking area and is an architectural marvel in itself. Trees have been planted on the beach
                  along with the construction of a splendid walkway which makes it easier to traverse the beach and
                  enjoy its sights. At night, the entire place is lit up with special lights that add a whole new
                  dimension to its beauty.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
            data-aos="fade-right">
            <img src="../assets/img/bekalfort.jpg" alt="" width="auto" class=" img-fluid">
          </div>
        </div>




        <div class="row pt-5">
          <h4>Ranipuram Hills</h4>
          <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
            data-aos="fade-right">

            <img src="../assets/img/Ranipuram.jpg" alt="" width="auto" class="img-fluid">
          </div>

          <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

            <div class="row">
              <div class="col-lg-12">
                <p>Ranipuram stands as a captivating hill station
                  renowned for its breathtaking landscapes and verdant surroundings. Nestled amidst rolling hills and
                  dense forests, Ranipuram offers a haven for nature enthusiasts and adventure seekers. The region
                  boasts trekking trails that weave through its picturesque terrain, providing visitors with an
                  opportunity to explore its diverse flora and fauna. The Ranipuram Wildlife Sanctuary, an integral part
                  of the area, serves as a habitat for various plant and animal species, enhancing the ecological
                  significance of this pristine destination.</p>
                <p>Travelers to Ranipuram can revel in its refreshing climate, engage in outdoor activities such as
                  trekking, and immerse themselves in the tranquility of the natural surroundings. The hill station's
                  charm lies in its panoramic hilltop views, making it an ideal retreat for those in search of a serene
                  getaway amidst the beauty of the Western Ghats.</p>


              </div>
            </div>
          </div>
        </div>



        <div class="row pt-5 ">
          <h4> Mallikarjuna Temple</h4>
          <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

            <div class="row ">
              <div class="col-lg-12">

                <p>Around 16 km to the south of northernmost district in Kerala, Kasaragod, lies the massive Bekal Fort.
                  It is among the biggest forts in Kerala and has been impeccably maintained throughout the years. It
                  rises to 130 feet above sea level and is situated on a headland spanning 35km. Much effort has been
                  put to develop a beautiful beach here called the Bekal Fort Beach. People flock to these spots in
                  great numbers. Situated comfortably on steep hills by the sea, the fort provides for an imposing view
                  from the beach. Built using laterite slabs and with a polygonal shape, it is amongst the most visited
                  sites in Kerala.</p>

                <p>There are many factors that have added to the popularity of the site. An observation tower fitted
                  with beautiful peepholes, the Anjaneya Temple with its famous masonry and two Theyyam sculptures built
                  from laterite are among the primary attractions. An ancient mosque built by Tipu Sultan and various
                  underground passageways are also important places in the area. A rock garden was built using laterite
                  in the parking area and is an architectural marvel in itself. Trees have been planted on the beach
                  along with the construction of a splendid walkway which makes it easier to traverse the beach and
                  enjoy its sights. At night, the entire place is lit up with special lights that add a whole new
                  dimension to its beauty.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
            data-aos="fade-right">
            <img src="../assets/img/mallikarjuna.jpg" alt="" width="auto" class=" img-fluid">
          </div>
        </div>



        <div class="row pt-5">
          <h4>Parappa Wildlife Sanctuary</h4>
          <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
            data-aos="fade-right">

            <img src="../assets/img/parappa.jpg" alt="" width="auto" class="img-fluid">
          </div>

          <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

            <div class="row">
              <div class="col-lg-12">
                <p>Parappa Wildlife sanctuary is home to many incredible species of wildlife. It is one of the well
                  known
                  Wildlife sanctuaries in Kerala with a great natural diversity. It is located in Kanhangad range of
                  Chervathur city. The Kanhangad range is the home of many wild species including jungle cats, turtles,
                  peacock, horn bill and many others. The forest area also have many medical plants, the whole jungle is
                  covered by green fragmented trees and many herbal plants.</p>
                <p>The sanctuary host numbers of endangered species, some of them are Malabar horn bill, Peacock, Jungle
                  cat and slender loris.The state is taking steps to stop poaching and hunting in this forest, which is
                  situated at a distance of about 22 km east of the town of Chervathur.</p>


              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

    <section class="footer pt-5">
      <!-- Footer -->
      <footer class="text-center text-light bg-dark">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2023 Copyright:
          <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   
  </body>

</html>