<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kozhikode</title>
    <link rel="icon" type="image/png" href="../assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/kozhikode.css">

</head>

<body>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#districts">Districts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>




        <!-- hero -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>KOZHIKODE</h1>
            </div>
        </section>
        <!-- hero ends -->





        <section id="places" class="about pt-5 ">
            <div class="container mt-5">

                <div class="section-title pb-5">

                    <h1 class="heading ">TOP DESTINATIONS</h1>
                </div>
                <div class="row ">
                    <h4> Kozhikode Beach</h4>
                    <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Kozhikode Beach, also known as Calicut Beach, is a renowned coastal destination
                                    situated along the Arabian Sea in the city of Kozhikode (Calicut) in Kerala, India.
                                    This scenic beach holds historical significance as it was the landing site of the
                                    Portuguese explorer Vasco da Gama in 1498, marking the beginning of European
                                    maritime trade with India. Today, Kozhikode Beach is a popular spot for both locals
                                    and tourists, offering a perfect blend of natural beauty and cultural heritage.</p>

                                <p>The beachfront is adorned with a picturesque pier, lighthouse, and well-maintained
                                    promenade, providing a pleasant setting for leisurely walks and relaxation. Visitors
                                    can engage in various activities like beach volleyball, camel rides, and horseback
                                    riding along the shore. The local seafood stalls and eateries add a delightful
                                    culinary experience, allowing visitors to savor the flavors of Malabar cuisine.
                                    Sunset views over the Arabian Sea from Kozhikode Beach are particularly enchanting,
                                    making it a favored spot for those seeking tranquility and the allure of coastal
                                    landscapes in Kerala.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/kozhikode-beach.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>




                <div class="row pt-5">
                    <h4>Kakkayam Dam</h4>
                    <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/kakkayam.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p> Kakkayam Dam, located in the Kozhikode district of Kerala, India, is a scenic
                                    reservoir surrounded by lush greenery and nestled amidst the Western Ghats. The dam,
                                    constructed across the Kakkayam River, serves as a vital water source for irrigation
                                    and hydroelectric power generation. The tranquil ambiance and natural beauty of the
                                    Kakkayam Dam make it a popular destination for both nature enthusiasts and adventure
                                    seekers.</p>
                                <p>Surrounded by dense forests, Kakkayam offers opportunities for trekking and hiking,
                                    allowing visitors to explore the pristine wilderness of the Western Ghats. The dam
                                    site is a gateway to the Kakkayam Valley, where one can find diverse flora and
                                    fauna. The scenic landscape, coupled with the serene reservoir, provides a serene
                                    environment for picnics and relaxation. Adventure activities such as rock climbing
                                    and rappelling are also organized in the vicinity, attracting thrill-seekers to
                                    experience the natural wonders of Kakkayam Dam. Overall, the dam and its
                                    surroundings offer a peaceful retreat for those looking to escape into the lap of
                                    nature in the northern part of Kerala.</p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="row pt-5 ">
                    <h4>Beypore Beach</h4>
                    <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Beypore Beach, located near Kozhikode (Calicut) in Kerala, India, is a charming
                                    coastal destination renowned for its historical significance and natural beauty. The
                                    beach holds a unique place in maritime history as it was once a prominent
                                    shipbuilding center, known for the construction of the traditional wooden sailing
                                    vessels called "urukus." The craftsmanship of the local artisans and the historical
                                    remnants of the shipbuilding industry contribute to the cultural richness of
                                    Beypore.</p>

                                <p>Visitors to Beypore Beach can explore the vibrant hustle and bustle of the local
                                    fishing community, witnessing traditional fishing techniques and the picturesque
                                    sight of fishing boats returning with their catches. The Beypore Beach is also
                                    famous for its ancient Beypore Fort, initially built by the Portuguese and later
                                    expanded by Tipu Sultan. The remnants of the fort, including the intricately
                                    designed entrance and the observation platforms, offer a glimpse into the area's
                                    historical past. With its scenic charm, historical significance, and cultural
                                    vibrancy, Beypore Beach provides a delightful experience for those seeking a blend
                                    of coastal beauty and maritime heritage in Kerala.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/beypore-beach.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>



                <div class="row pt-5">
                    <h4>Mananchira</h4>
                    <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/Mananchira.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p> Mananchira is a historic and picturesque public square surrounded by lush greenery,
                                    providing a
                                    serene oasis in the midst of the bustling city. The centerpiece of Mananchira is the
                                    large rectangular artificial pond, built by the Zamorin rulers, which reflects the
                                    region's rich cultural heritage. The pond is flanked by well-maintained walkways,
                                    beautifully landscaped gardens, and a musical fountain, creating a peaceful retreat
                                    for both locals and tourists.</p>
                                <p>The park surrounding Mananchira hosts various cultural events, making it a hub for
                                    artistic and recreational activities. The area also features important landmarks,
                                    including the Town Hall and the Commonwealth Trust Hall. The S.M. Street, a bustling
                                    shopping district, is in close proximity, offering a vibrant atmosphere for shopping
                                    and culinary delights. Mananchira serves not only as a popular recreational spot but
                                    also as a symbol of the historical legacy of Kozhikode, making it a must-visit
                                    destination for those seeking a blend of cultural immersion and natural beauty in
                                    the heart of the city.</p>


                            </div>
                        </div>
                    </div>
                </div </div>
        </section>

        <section class="footer pt-5">
            <!-- Footer -->
            <footer class="text-center text-light bg-dark">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2023 Copyright:
                    <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>

</html>