<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palakkad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/palakkad.css">

</head>

<body>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#districts">Districts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>




        <!-- hero -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>PALAKKAD</h1>
            </div>
        </section>
        <!-- hero ends -->





        <section id="places" class="about pt-5 ">
            <div class="container mt-5">

                <div class="section-title pb-5">

                    <h1 class="heading ">TOP DESTINATIONS</h1>
                </div>
                <div class="row ">
                    <h4>Nelliyampathy Hills</h4>
                    <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>
                                    Nelliyampathy Hills, nestled in the Western Ghats of Kerala, India, is a captivating
                                    hill station renowned for its pristine beauty and tranquil surroundings. The journey
                                    to Nelliyampathy is an enchanting experience, with winding roads offering
                                    breathtaking views of lush greenery, tea estates, and orange orchards. As visitors
                                    ascend, they are treated to panoramic vistas of the Palakkad Gap, and the region is
                                    dotted with viewpoints like Seethargundu and Kesavanpara that provide stunning
                                    glimpses of the Western Ghats and the plains below. The cool climate, coupled with
                                    the charm of rolling hills and dense forests, makes Nelliyampathy a haven for nature
                                    enthusiasts and those seeking a peaceful escape.</p>

                                <p>Apart from its scenic landscapes, Nelliyampathy is known for its plantations,
                                    including tea, coffee, cardamom, and spices, contributing to the region's economic
                                    and agricultural significance. The serene environment, coupled with opportunities
                                    for trekking and hiking, makes Nelliyampathy Hills an ideal destination for those in
                                    search of a rejuvenating retreat surrounded by the natural beauty of the Western
                                    Ghats.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/nelliyampathy.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>




                <div class="row pt-5">
                    <h4>Parambikulam Tiger Reserve</h4>
                    <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/Parambikulam.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p> The Parambikulam Tiger Reserve, situated in the Western Ghats of Kerala and Tamil
                                    Nadu, stands as one of the most well-preserved biodiversity hotspots in India.
                                    Spanning across an expansive area, the reserve is characterized by dense forests,
                                    diverse flora and fauna, and crystal-clear rivers. Home to the elusive Bengal tiger,
                                    along with several other endangered species like the Indian elephant, Indian
                                    leopard, and Nilgiri langur, Parambikulam is celebrated for its conservation efforts
                                    and commitment to preserving the delicate ecosystem.</p>
                                <p>Visitors to the Parambikulam Tiger Reserve can immerse themselves in its natural
                                    wonders through guided safaris, nature walks, and boat rides along the tranquil
                                    Parambikulam Lake. The reserve also boasts an impressive treehouse accommodation,
                                    allowing guests to experience the beauty of the wilderness up close. With its focus
                                    on eco-tourism and sustainable practices, Parambikulam Tiger Reserve not only serves
                                    as a haven for wildlife enthusiasts but also stands as a testament to the importance
                                    of preserving and protecting our natural heritage.</p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="row pt-5 ">
                    <h4>Malampuzha Dam</h4>
                    <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Malampuzha Dam, located in the Palakkad district of Kerala, India, is a multifaceted
                                    reservoir that serves as a key water source for irrigation and drinking purposes.
                                    Constructed across the Malampuzha River, the dam is a significant engineering
                                    marvel, set against the backdrop of the picturesque Western Ghats. Completed in
                                    1955, the dam has not only played a crucial role in water management but has also
                                    evolved into a popular tourist destination, attracting visitors with its scenic
                                    beauty and recreational facilities.</p>

                                <p>Surrounding the Malampuzha Dam is a beautifully landscaped garden known as Malampuzha
                                    Gardens. The garden is adorned with lush greenery, colorful flowerbeds, and various
                                    sculptures and structures. One of the prominent features is the gigantic Yakshi (an
                                    enchantress) sculpture crafted by the renowned Indian sculptor Kanai Kunhiraman.
                                    Boating facilities on the reservoir, a ropeway offering panoramic views, and an
                                    amusement park add to the attractions, making Malampuzha Dam a perfect spot for both
                                    nature lovers and families seeking a day of leisure. The dam not only caters to the
                                    region's water needs but also stands as a testament to the harmonious integration of
                                    nature, engineering, and recreation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/Malampuzha.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>



                <div class="row pt-5">
                    <h4>Palakkad Fort</h4>
                    <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/palakkad fort.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>Palakkad Fort, also known as Tipu's Fort, is a historic fortress situated in the
                                    heart of Palakkad town in Kerala, India. Constructed in the 18th century by Hyder
                                    Ali, the Sultan of Mysore, and later completed by his son Tipu Sultan, the fort
                                    holds great significance in the region's history. Strategically positioned on a
                                    hillock, Palakkad Fort served as a military stronghold during various conflicts,
                                    including the Mysore Wars between the British East India Company and the Kingdom of
                                    Mysore. The fort's architecture is a blend of indigenous and European styles, with
                                    large stone walls and bastions showcasing its military design.</p>
                                <p>Within the fort premises, visitors can explore various structures, including a
                                    Hanuman temple and a spacious ground. The fort offers panoramic views of the
                                    surrounding landscape, providing a glimpse into its strategic importance in
                                    historical times. Today, Palakkad Fort stands as a cultural and historical landmark,
                                    drawing tourists and history enthusiasts who are keen to delve into the rich past of
                                    the region. The well-preserved fort is a testament to the architectural prowess of
                                    its builders and serves as a reminder of the historical events that unfolded within
                                    its walls.</p>


                            </div>
                        </div>
                    </div>
                </div </div>
        </section>

        <section class="footer pt-5">
            <!-- Footer -->
            <footer class="text-center text-light bg-dark">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2023 Copyright:
                    <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>

</html>