<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathanamthitta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/pathanamthitta.css">

</head>

<body>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#districts">Districts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>




        <!-- hero -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>PATHANAMTHITTA</h1>
            </div>
        </section>
        <!-- hero ends -->





        <section id="places" class="about pt-5 ">
            <div class="container mt-5">

                <div class="section-title pb-5">

                    <h1 class="heading ">TOP DESTINATIONS</h1>
                </div>
                <div class="row ">
                    <h4>Gavi</h4>
                    <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>
                                    Gavi is a pristine and
                                    off-the-beaten-path destination nestled within the Periyar Tiger Reserve. Known for
                                    its dense forests, untouched wilderness, and rich biodiversity, Gavi offers a unique
                                    eco-tourism experience. The journey to Gavi itself is an adventure, with visitors
                                    traversing through winding roads, spice plantations, and lush landscapes, setting
                                    the tone for the untouched natural beauty that awaits.
                                </p>

                                <p>Gavi is a haven for nature enthusiasts, offering activities such as trekking, bird
                                    watching, and wildlife safaris amidst the verdant surroundings. The Periyar River
                                    and the lush greenery provide a serene backdrop, and the area is home to diverse
                                    wildlife, including elephants, leopards, and various species of birds. Gavi is also
                                    known for the serene Gavi Lake, where visitors can enjoy boating while immersing
                                    themselves in the tranquility of the pristine surroundings. The sustainable and
                                    community-based tourism initiatives in Gavi aim to preserve its natural habitat
                                    while providing visitors with an unforgettable experience of Kerala's unspoiled
                                    wilderness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/gavi.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>




                <div class="row pt-5">
                    <h4>Aramula</h4>
                    <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/aramula.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    Aranmula is a charming village situated in the Pathanamthitta district of India.
                                    Steeped in cultural and religious significance, the village is known for its unique
                                    traditions and serene ambiance. The annual Aranmula Vallamkali, a traditional boat
                                    race held during the Onam festival, is a vibrant spectacle featuring elaborately
                                    decorated snake boats, reflecting the deep-rooted cultural heritage of the region.
                                </p>
                                <p>The Parthasarathy Temple, dedicated to Lord Krishna, stands as a centerpiece in
                                    Aranmula. This ancient temple is known for its distinctive Kerala architectural
                                    style and is an important pilgrimage site for devotees. Beyond its religious and
                                    cultural aspects, Aranmula is also renowned for the craft of making Aranmula
                                    Kannadi, a unique handmade metal mirror with cultural significance. Surrounded by
                                    the natural beauty of Kerala's backwaters, Aranmula offers a tranquil escape for
                                    those seeking a blend of cultural exploration and the serene landscapes of the
                                    region.

                                </p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="row pt-5 ">
                    <h4>Konni Forest Reserve</h4>
                    <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>
                                    The Konni Forest Reserve, located in the Pathanamthitta district of Kerala, India,
                                    is a verdant expanse renowned for its rich biodiversity and lush greenery. Spread
                                    over an area of approximately 350 square kilometers, this reserve is a part of the
                                    Western Ghats, a UNESCO World Heritage Site. The forest is characterized by a mix of
                                    tropical evergreen and deciduous trees, creating a habitat for a diverse range of
                                    flora and fauna.
                                </p>

                                <p>One of the notable attractions in the Konni Forest Reserve is the Elephant
                                    Rehabilitation Centre, where visitors can witness the gentle giants in their natural
                                    habitat. The center is dedicated to the care and rehabilitation of elephants,
                                    providing a unique opportunity for eco-tourism and wildlife enthusiasts to observe
                                    these magnificent creatures up close. The forest reserve also offers trekking
                                    trails, allowing nature enthusiasts to explore its pristine landscapes and discover
                                    its diverse plant and animal life. With its emphasis on conservation and
                                    eco-tourism, the Konni Forest Reserve stands as a haven for those seeking a
                                    harmonious blend of nature, wildlife, and sustainable tourism in the heart of
                                    Kerala.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/konni-Forest.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>



                <div class="row pt-5">
                    <h4>Perunthenaruvi Waterfall</h4>
                    <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/perunthenaruvi waterfall.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    Perunthenaruvi Waterfall is a captivating natural wonder nestled amidst the lush
                                    greenery of the Western
                                    Ghats. The name "Perunthenaruvi" translates to "The Great Honey Stream," capturing
                                    the essence of the waterfall's scenic beauty and the surrounding pristine
                                    environment. The waterfall is formed by the Pamba River cascading down a rocky
                                    terrain, creating a spectacular sight that attracts both nature lovers and adventure
                                    seekers.</p>
                                <p>Perunthenaruvi Waterfall is renowned for its picturesque setting, with the water
                                    cascading over the rocks and forming a pool at the base. The surrounding landscapes
                                    are adorned with dense forests, adding to the natural charm of the location. The
                                    waterfall is accessible through a scenic drive and a short trek, making it a popular
                                    destination for those seeking a day of exploration and relaxation in nature. The
                                    area around Perunthenaruvi also offers opportunities for picnics, photography, and
                                    enjoying the tranquil ambiance created by the sounds of rushing water and the lush
                                    greenery. For those looking to experience the raw beauty of Kerala's Western Ghats,
                                    Perunthenaruvi Waterfall stands as a captivating destination.
                                </p>


                            </div>
                        </div>
                    </div>
                </div </div>
        </section>

        <section class="footer pt-5">
            <!-- Footer -->
            <footer class="text-center text-light bg-dark">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2023 Copyright:
                    <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    </body>

</html>