<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thrissur</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/thrissur.css">

</head>

<body>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#destination">Destination</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>




        <!-- hero -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>THRISSUR</h1>
            </div>
        </section>
        <!-- hero ends -->





        <section id="places" class="about pt-5 ">
            <div class="container mt-5">

                <div class="section-title pb-5">

                    <h1 class="heading ">TOP TOURIST PLACES</h1>
                </div>
                <div class="row ">
                    <h4>Athirapally Waterfall</h4>
                    <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Athirapally Waterfall is a
                                    breathtaking cascade that stands as one of the largest and most majestic waterfalls
                                    in the country. Nestled amidst the lush greenery of the Western Ghats, the waterfall
                                    is formed by the Chalakudy River as it descends from the Anamudi mountains. The
                                    sheer force and beauty of Athirapally attract nature lovers, photographers, and
                                    tourists alike, making it a popular destination in Kerala. The surrounding landscape
                                    is rich in biodiversity, and the area is part of the Sholayar Range, contributing to
                                    its scenic charm</p>

                                <p>Visitors to Athirapally can enjoy not only the mesmerizing views of the waterfall but
                                    also the vibrant flora and fauna of the surrounding Athirapally Vazhachal Forest
                                    Range. The waterfall is surrounded by dense tropical forests, providing a habitat
                                    for various species of plants, animals, and birds. The area has become a favored
                                    location for film shoots, capturing the enchanting beauty of Athirapally on the
                                    silver screen. With its natural splendor and tranquil ambiance, Athirapally
                                    Waterfall offers a serene escape and an opportunity to immerse oneself in the
                                    pristine beauty of Kerala's landscape.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/athirapally.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>




                <div class="row pt-5">
                    <h4>Vadakkunnathan Temple</h4>
                    <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/vadakkum.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>Vadakkunnathan Temple, located in the heart of Thrissur city in Kerala, India, is an
                                    ancient and revered Hindu temple dedicated to Lord Shiva. Believed to be one of the
                                    oldest temples in the state, Vadakkunnathan Temple is a classic example of Kerala's
                                    traditional temple architecture. The temple complex is surrounded by a massive stone
                                    wall and features a Koothambalam (temple theater) with exquisite wood carvings,
                                    adding to its cultural and historical significance.</p>
                                <p>The main deity of the temple is Lord Shiva in the form of Vadakkunnathan, meaning the
                                    Lord of the North. The temple's sanctum sanctorum houses a sacred Shiva Lingam, and
                                    devotees from far and wide visit to offer prayers and seek blessings. The annual
                                    festival, Thrissur Pooram, held at the temple, is a grand celebration that attracts
                                    crowds with its elaborate processions, traditional music, and vibrant fireworks.
                                    Vadakkunnathan Temple is not only a religious center but also a symbol of Kerala's
                                    rich architectural and cultural heritage, drawing visitors with its spiritual aura
                                    and timeless charm.</p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="row pt-5 ">
                    <h4>Shakthan Thampuran Palace</h4>
                    <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>
                                    Shakthan Thampuran Palace, located in the heart of Thrissur in Kerala, India, is a
                                    historic marvel that reflects the grandeur of a bygone era. Built in the traditional
                                    Kerala-Dutch style in the 18th century, the palace served as the residence of the
                                    Maharaja of Cochin, Rama Varma Shakthan Thampuran. The architectural brilliance of
                                    the palace is evident in its spacious halls, intricately designed windows, and
                                    wooden carvings that showcase a blend of indigenous and European influences.</p>

                                <p>The palace has been converted into a museum, providing visitors with a glimpse into
                                    the royal history of the region. The museum exhibits a rich collection of artifacts,
                                    including antique furniture, sculptures, coins, manuscripts, and royal memorabilia.
                                    One of the notable features is the preserved sword and dagger of the legendary
                                    warrior king, Shakthan Thampuran. The palace's surroundings include well-maintained
                                    gardens, enhancing the overall charm of the site. Shakthan Thampuran Palace stands
                                    as a testament to the architectural and cultural heritage of Kerala, inviting
                                    tourists and history enthusiasts to explore its regal past and appreciate the
                                    craftsmanship of a bygone era.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/shakthan-palace.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>



                <div class="row pt-5">
                    <h4>Our Lady of Dolours Basilica</h4>
                    <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/basilica.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>Our Lady of Dolours Basilica, commonly known as Puthanpally, is a prominent Roman
                                    Catholic basilica located in Thrissur, Kerala, India. Constructed in the Gothic
                                    architectural style, the basilica is renowned for its majestic structure and
                                    religious significance. The foundation stone of the church was laid in 1929, and the
                                    basilica was consecrated in 1940. The impressive twin towers, soaring spires, and
                                    intricate detailing make it a distinctive landmark in the city.</p>
                                <p>basilica is dedicated to the Our Lady of Dolours (Sorrow), and it attracts
                                    pilgrims and tourists alike with its spiritual ambiance and artistic beauty. The
                                    interior of the basilica is adorned with beautiful stained glass windows, depicting
                                    biblical scenes and religious motifs. The annual Feast of Our Lady of Dolours,
                                    celebrated in the month of November, is a grand event that draws thousands of
                                    devotees from different parts of the country. Our Lady of Dolours Basilica is not
                                    only a place of worship but also a symbol of architectural excellence and cultural
                                    heritage, contributing to the religious diversity and rich history of Thrissur.</p>


                            </div>
                        </div>
                    </div>
                </div </div>
        </section>

        <section class="footer pt-5">
            <!-- Footer -->
            <footer class="text-center text-light bg-dark">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2023 Copyright:
                    <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>

</html>