<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayanad</title>
    <link rel="icon" type="image/png" href="../assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/wayanad.css">

</head>

<body>


    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo-nobg.png" alt="Your Logo" width="auto" height="70" class="ms-lg-5">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#hero">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#districts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Districts
                            </a>
                            <ul class="dropdown-menu">
                              <li ><a class="dropdown-item" href="kasaragod.html">Kasaragod</a></li>
                              <li><a class="dropdown-item " href="kannur.html">Kannur</a></li>
                              <li><a class="dropdown-item active" href="wayanad.html">Wayanad</a></li>
                              <li><a class="dropdown-item" href="kozhikode.html">Kozhikode</a></li>
                              <li><a class="dropdown-item " href="malappuram.html">Malappuram</a></li>
                              <li><a class="dropdown-item" href="palakkad.html">Palakkad</a></li>
                              <li><a class="dropdown-item" href="thrissur.html">Thrissur</a></li>
                              <li><a class="dropdown-item" href="eranakulam.html">Eranakulam</a></li>
                              <li><a class="dropdown-item" href="idukki.html">Idukki</a></li>
                              <li><a class="dropdown-item" href="kottayam.html">Kottayam</a></li>
                              <li><a class="dropdown-item" href="alappuzha.html">Alappuzha</a></li>
                              <li><a class="dropdown-item" href="pathanamthitta.html">Pathanamthitta</a></li>
                              <li><a class="dropdown-item" href="kollam.html">Kollam</a></li>
                              <li><a class="dropdown-item" href="thiruvananthapuram.html">Thiruvananthapuram</a></li>
                            </ul>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#contact">Contact</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>




        <!-- hero -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>WAYANAD</h1>
            </div>
        </section>
        <!-- hero ends -->





        <section id="places" class="about pt-5 ">
            <div class="container mt-5">

                <div class="section-title pb-5">

                    <h1 class="heading ">TOP DESTINATIONS</h1>
                </div>
                <div class="row ">
                    <h4> Banasura Sagar Dam</h4>
                    <div class="col-lg-8 pt-4  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Banasura Sagar Dam is the largest
                                    earthen dam in the country and a prominent tourist attraction. Nestled amidst the
                                    scenic Western Ghats, the dam is built across the Karamanathodu River, creating an
                                    expansive reservoir with lush green surroundings. The dam derives its name from
                                    Banasura, a mythical character from Indian mythology, and the reservoir offers
                                    breathtaking views of the mist-covered hills, making it a haven for nature
                                    enthusiasts.</p>

                                <p>The dam site also serves as a gateway to the Banasura Hills, where trekking trails
                                    take visitors through dense forests, providing an opportunity to explore the rich
                                    biodiversity of the region. One of the key features of Banasura Sagar Dam is the
                                    series of islands that emerge during the monsoon season when the water level rises.
                                    Boating is a popular activity on the reservoir, allowing visitors to experience the
                                    serene beauty of the surroundings. The dam and its picturesque landscape offer a
                                    tranquil retreat, making it an ideal destination for those seeking a peaceful escape
                                    amidst nature in the enchanting Wayanad region of Kerala.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/banasurasagar.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>




                <div class="row pt-5">
                    <h4>Muthanga Wildlife Sanctuary</h4>
                    <div class="col-lg-4 col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/muthanga.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p> Muthanga Wildlife Sanctuary is a
                                    captivating haven for wildlife enthusiasts and nature lovers. Spread across the
                                    Western Ghats, this sanctuary is an integral part of the Nilgiri Biosphere Reserve
                                    and serves as a vital corridor for the movement of elephants between the Mudumalai
                                    National Park in Tamil Nadu and the Bandipur National Park in Karnataka. The diverse
                                    landscape of Muthanga encompasses tropical forests, grasslands, and streams,
                                    providing a rich habitat for a variety of flora and fauna.</p>
                                <p>Visitors to Muthanga Wildlife Sanctuary can embark on safari adventures, either by
                                    jeep or bus, to explore the wilderness and catch glimpses of the resident wildlife.
                                    The sanctuary is home to a diverse range of species, including elephants, deer,
                                    tigers, leopards, and numerous bird species. The conservation efforts in Muthanga
                                    aim to preserve the natural ecosystem and protect endangered species. The sanctuary
                                    not only offers a thrilling wildlife experience but also provides an opportunity for
                                    environmental education and awareness, making it a must-visit destination for those
                                    interested in the rich biodiversity of the Western Ghats.</p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="row pt-5 ">
                    <h4>Edakkal Caves</h4>
                    <div class="col-lg-8  order-lg-1 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row ">
                            <div class="col-lg-12">

                                <p>Beypore Beach, located near Kozhikode (Calicut) in Kerala, India, is a charming
                                    coastal destination renowned for its historical significance and natural beauty. The
                                    beach holds a unique place in maritime history as it was once a prominent
                                    shipbuilding center, known for the construction of the traditional wooden sailing
                                    vessels called "urukus." The craftsmanship of the local artisans and the historical
                                    remnants of the shipbuilding industry contribute to the cultural richness of
                                    Beypore.</p>

                                <p>Visitors to Beypore Beach can explore the vibrant hustle and bustle of the local
                                    fishing community, witnessing traditional fishing techniques and the picturesque
                                    sight of fishing boats returning with their catches. The Beypore Beach is also
                                    famous for its ancient Beypore Fort, initially built by the Portuguese and later
                                    expanded by Tipu Sultan. The remnants of the fort, including the intricately
                                    designed entrance and the observation platforms, offer a glimpse into the area's
                                    historical past. With its scenic charm, historical significance, and cultural
                                    vibrancy, Beypore Beach provides a delightful experience for those seeking a blend
                                    of coastal beauty and maritime heritage in Kerala.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   order-lg-2 order-1 d-flex justify-content-center align-items-center"
                        data-aos="fade-right">
                        <img src="../assets/img/edakkal-caves.jpg" alt="" width="auto" class=" img-fluid">
                    </div>
                </div>



                <div class="row pt-5">
                    <h4>Pookode Lake</h4>
                    <div class="col-lg-4  col-md-12 order-lg-1 order-1  d-flex justify-content-center align-items-center"
                        data-aos="fade-right">

                        <img src="../assets/img/pookode-lake.jpg" alt="" width="auto" class="img-fluid">
                    </div>

                    <div class="col-lg-8 col-md-12 order-lg-2 order-2 pt-4 pt-lg-0 content" data-aos="fade-left">

                        <div class="row">
                            <div class="col-lg-12">
                                <p>Pookode Lake, nestled amid the lush greenery of Wayanad in Kerala, India, stands as a
                                    serene and enchanting freshwater lake. Surrounded by dense forests and hills, the
                                    lake is situated at an elevation of about 2,100 meters above sea level. One of the
                                    main attractions of Pookode Lake is its natural beauty and tranquility, making it a
                                    favored destination for nature lovers and those seeking a peaceful retreat.</p>
                                <p>Visitors to Pookode Lake can enjoy activities such as boating, with pedal boats and
                                    rowboats available for hire, allowing them to traverse the crystal-clear waters
                                    while soaking in the picturesque landscape. The lake is also surrounded by a
                                    well-maintained pathway, providing a pleasant setting for leisurely walks. The lush
                                    greenery and the cool climate add to the charm of Pookode Lake, making it a popular
                                    spot for picnics and family outings. With its serene ambiance and breathtaking
                                    surroundings, Pookode Lake offers a refreshing escape into nature in the heart of
                                    Wayanad.</p>


                            </div>
                        </div>
                    </div>
                </div </div>
        </section>

        <section class="footer pt-5">
            <!-- Footer -->
            <footer class="text-center text-light bg-dark">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © 2023 Copyright:
                    <a class="text-light" href="https://gurudaspr.github.io/kerala-tourism/">Kerala tourism</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>

</html>